extends layout
 
block content
  h1= title
 
  form(id='OnionForm', action="/resource/onion", method="POST")
    div.form-group
        label.onionAttr(for='costume_type') Onion Color
        input#onion_color(type='text', name='onion_type')
    div.form-group
        label.onionAttr(for='size') Onion size
        input#size(type='text', name='size')
    div.form-group
        label.onionAttr(for='cost') Onion cost
        input#cost(type='number', name='cost')
    input(type="submit")
 
  script.
    document.forms['OnionForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Save succeded")
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Save failed " + error )
      });
    });